@{
	ViewData["Title"] = "Home Page";
}
<div class="container">
	<div class="card-bg text-center">
		<div class="lib-header">
			<h2>Welcome to DreamTime Books Rental</h2>

			<p class="pt-1">
				Lorem sed luptatum nonumy clita lorem ex praesent amet minim iusto accusam sadipscing accusam ut nam sanctus iriure nulla stet eu lorem consectetuer accumsan et invidunt tempor at vel dolor takimata eum nulla accumsan dolore suscipit delenit adipiscing sadipscing aliquyam
				<a class="" asp-area="" aspcontroller="Home" asp-action="Index">more...</a>
			</p>

		</div>

	</div>

	<div class="row row-cols-1  row-cols-md-3  justify-content-center pt-3">
		<div class="col mb-4">
			<div class="card ">
				<img class="card-img-top" src="./images/sydney_vwfnj1-Banner 169.jpg" alt="Sydney Lib">
				<div class="card-body custom-card-body">
					<h3 class="card-title text-center pb-2">Sydney Library</h3>
					<p class="card-text pb-2">Comme ce d'un mal par que fatuité le trôner et monstre fait ment aboutit mais le surprise son haut la</p>
					<a href="#" class="btn btn-primary">Find out more</a>
				</div>
			</div>
		</div>
		<div class="col mb-4">
			<div class="card">
				<img class="card-img-top" src="./images/wollongong_emtqhi-Banner 169.jpg" alt="Sydney Lib">
				<div class="card-body custom-card-body">
					<h3 class="card-title text-center pb-2">Wollongong Library</h3>
					<p class="card-text pb-2">Quel exquise ce qui trait voici mon nous prince son gaze a déplore faudra air tes fleuve ce magnifique divinement</p>
					<a href="#" class="btn btn-primary ">Find out more</a>
				</div>
			</div>
		</div>
	</div>
</div>