html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.card-bg {
    padding: 150px 0;    
    background-image: url('../images/nsw_state_lib.jpg');
    background-repeat: no-repeat;
    max-width: 100%;
    width: 100vw;
    height: 450px;
    max-height: auto;
    background-position: center center;
    background-size: cover;
    border: none;
    border-radius: 5px;
}

.svg {
    height: 34px;
    width: 34px;
}

.custom-card-body {  
    text-align: center;
}

.lib-header {
    margin: 0 auto;
    background: rgba(191,191,191,.7);
    padding: 10px;
    border-radius: 5px;
    color: #1f2937;
    font-size: 18px;
    width: 700px;
    max-width: 100%;
    font-weight: 500;
}
@media (max-width: 450px) {
    .lib-header {
        font-size: 14px;
        width: 700px;
        max-width: 100%;
    }
}
.card-img-top {
   opacity: .5;
}
.card-img-top:hover{
    opacity: 1;
}
