
<ul class="navbar-nav gap-3 fw-bold">

	<li class="nav-item">
		<a class="nav-link" asp-area="Identity" asp-page="/Account/Register">Register</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" asp-area="Identity" asp-page="/Account/Login">Sign In</a>
	</li>

</ul>
