@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <h1 class="display-4">Welcome to Ultimate Books Rental</h1>
    <div class="card">
        <div class="card-body">
            <div class="row justify-content-center">

                <div class="col-3">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="/Images/castlehill.jpeg" height="100px"
                             alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Por Library</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up
                                the bulk of the card's content.</p>
                            <a href="#" class="btn btn-primary" margin="5">Explore more</a>

                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="/Images/sydney.jpg" height="100px" alt="Card
image cap">
                        <div class="card-body">
                            <h5 class="card-title">Que Library</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up
                                the bulk of the card's content.</p>
                            <a href="#" class="btn btn-primary">Explore more</a>


                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>