@{
	ViewData["Title"] = "Home Page";
}
<div class="text-center">
	<h1 class="display-4">Welcome to Ultimate Books Rental</h1>
	<div class="card-bg">
	</div>
	<div class="row justify-content-center">
		<div class="col-sm-12 col-md-6 col-lg-4 mb-4">
			<div class="card text-white card-has-bg click-col">
				<img class="card-img" src="" alt="">
				<div class="card-img-overlay d-flex flex-column">
					<div class="card-body">
						<small class="card-meta mb-2">Sydney Library</small>
						<h4 class="card-title mt-0 "><a class="text-white" herf="#">Goverment Lorem Ipsum Sit Amet Consectetur dipisi?</a></h4>
						<small><i class="far fa-clock"></i> October 15, 2020</small>
					</div>
					<div class="card-footer">


						<a href="#" class="btn btn-primary" margin="5">Explore more</a>

					</div>
				</div>
			</div>
		</div>

		<div class="col-sm-12 col-md-6 col-lg-4 mb-4">
			<div class="card text-white card-has-bg click-col">
				<img class="card-img d-none" src="" alt="?">
				<div class="card-img-overlay d-flex flex-column">
					<div class="card-body">
						<small class="card-meta mb-2">Wollongong Library</small>
						<h4 class="card-title mt-0 "><a class="text-white" herf="#">Goverment Lorem Ipsum Sit Amet Consectetur dipisi?</a></h4>
						<small><i class="far fa-clock"></i> October 15, 2020</small>
					</div>
					<div class="card-footer">

						<a href="#" class="btn btn-primary" margin="5">Explore more</a>

					</div>
				</div>
			</div>
		</div>
	</div>
</div>